*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
	--black: black;
	--purple: purple;
	--orange: orange;
	--yellow: yellow;
	--blue: blue;
	--black-alpha-50: color-mix(in oklch, var(--black), transparent);
}

@property --gradient-angle {
	inherits: false;
	initial-value: 0deg;
	syntax: "<angle>";
}

@keyframes spin {
	to {
		--gradient-angle: 360deg;
	}
}

section {
	background: black;
	display: grid;
	width: 100vw;
	height: 100svh;
	place-content: center;
}

div {
	animation: spin 2s linear infinite;
	background: linear-gradient(to bottom, var(--black), var(--black)) padding-box,
		conic-gradient(
				in oklch from var(--gradient-angle),
				var(--purple),
				var(--orange),
				var(--yellow),
				var(--blue),
				var(--purple)
			)
			border-box;
	border: 5px solid transparent;
	border-radius: 50%;
	position: relative;
	width: 300px;
	height: 300px;
	z-index: 10;

	&::before {
		background: black;
		border-radius: 50%;
		content: "";
		position: absolute;
		inset: 0;
		z-index: 5;
	}

	&::after {
		animation: spin 2s linear infinite;
		background: conic-gradient(
			in oklch from var(--gradient-angle),
			var(--purple),
			var(--orange),
			var(--yellow),
			var(--blue),
			var(--purple)
		);
		border-radius: 15px;
		content: "";
		position: absolute;
		inset: 0;
		filter: blur(50px);
		z-index: 1;
	}
}
